<section style="background-color: #f8f8f9;" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What I've done & what I can do</h2>
                <hr class="primary">
                <p class="text-muted">Feel free to take a deeper look at what I've accomplished over the years and what I'm able to do for you. My resume goes over the standard items, but please understand that I don't embellish my capabilities.</p>
                <a href="#" class="btn btn-default btn-xl">View my resume</a>
            </div>
        </div>
    </div>
</section>

