<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Please feel free to reach out to me if you have any questions or comments about the services I offer. Also, you could always just send me a friendly hello.</p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+351 969 903 862</p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">renan.souza@protonmail.com</a></p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://www.linkedin.com/in/renanfernandes">Renan Souza</a></p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://github.com/renanrfs">@renanrfs</a></p>
            </div>
        </div>
    </div>
</section>

