<div class="footer" style="text-align: center; color: rgba(242,242,242,.7); background-color: #26262a">
	<h4 style="margin: 1em 0 .5em; letter-spacing: 2px; padding-top: 50px">
		<a class="page-scroll" href="/">Home</a>
		<a class="page-scroll" href="/#about">About</a>
		<a class="page-scroll" href="/#services">Services</a>
		<a class="page-scroll" href="/#portfolio">Portfolio</a>
	    <a class="page-scroll" href="/#contact">Contact</a>
	    <a class="page-scroll" href="/articles">Articles</a>
	    <a style="font-size:20px" class="fa fa-search" href="/search"></a>
	</h4>

    <div style="font-size: 12px; padding: 15px">
        &copy; 2016 Renan Fernandes Souza
    </div>

    <div style="padding-bottom: 50px; letter-spacing: 2px;">
    	<a style="font-size:25px" class="fa fa-linkedin-square" href="https://www.linkedin.com/in/renanfernandes"></a>
        <a style="font-size:25px" class="fa fa-github" href="https://github.com/renanrfs"></a>
        <a style="font-size:25px" class="fa fa-envelope" href="mailto:renan.souza@protonmail.com"></a>
    </div>
</div>